{% extends "base.html.twig" %}

{% block title %}CookEat - Accueil{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron jumbotron-fluid shadow text-center">
        <h1 class="display-4 mb-4">Bienvenue sur CookEat!</h1>
        <p class="lead">CookEat est une application qui va vous pernettre de créer des recettes d'indrédient que vous allez vous-même créer. Vous pourrez partager vos recettes à la communauté du site.</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <a class="btn btn-success btn-lg m-auto" href="#" role="button">Créer un compte</a>
      </div>
</div>



{% endblock %}